body {
    width: 100%;
}

p, h1 {
    font-family: 'titleFont', sans-serif;
    color: white;
}

p {
    letter-spacing: 2pt;
}

h1 {
    letter-spacing: 6pt;
}

a {
    text-decoration: none;
}

.portion {
    padding-top: 10pt;
    padding-bottom: 10pt;
}

nav {
    display: inline;
    padding-inline-start: 20pt;
    padding-top: 20pt;
}

#t {
    text-align: center;
    box-align: center;
    padding-top: 17%;
}

#fp-t {
    margin-bottom: 0pt;
    font-size: 40pt;
}

#fp-d {
    margin-top: 5pt;
    font-size: 15pt;
    margin-left: 20pt;
    margin-right: 20pt;
}

#fp-body {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: none;
    background-image: url(../images/fp-back3.JPG);
    background-size: cover;
}

.fp-btns {
    background-color: transparent;
    border-color: transparent;
    padding-left: 1%;
    padding-right: 1%;
}

.fp-btns:hover {
    background-color: black;
    border-radius: 50pt;
    border-color: white;
}

.fp-btns-r:hover {
    background-color: black;
    border-radius: 50pt;
    border-color: white;
}

.fp-btns-p {
    font-size: 15pt;
}

.fp-btns-r {
    background-color: transparent;
    border-color: transparent;
    float: right;
    margin-right: 30pt;
}

@font-face {
    font-family: 'titleFont';
    src: url(../fonts/OpenSans-Light.ttf);
}