<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/styles.css') }}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <title>Home</title>
        <style>
            body {
                background: url(../static/images/fp-back3.JPG) no-repeat center center fixed;
                background-size: cover;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
            }
        </style>
    </head>
    <body>
        <div class='portion' id='fp-body'>
            <nav class='portion' id='fp-header'>
                <button type='button' class='fp-btns'>
                    <p class='fp-btns-p'>Moez Bajwa</p>
                </button>
                <button type='button' class='fp-btns'>
                    <a href="about">
                        <p class='fp-btns-p'>About Me</p>
                    </a>
                </button>
                <button type='button' class='fp-btns'>
                    <a href="projects">
                        <p class='fp-btns-p'>Projects</p>
                    </a>
                </button>
                <button type='button' class='fp-btns-r'>
                    <a href="contact">
                        <p class='fp-btns-p'>Contact Me</p>
                    </a>
                </button>
            </nav>
            <nav class="navbar navbar-expand-md navbar-light bg-light" id="fp-header-mobile">
                <a href="/" class="navbar-brand">Moez Bajwa</a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
            
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav">
                        <a href="about" class="nav-item nav-link">About Me</a>
                        <a href="projects" class="nav-item nav-link">Projects</a>
                    </div>
                    <div class="navbar-nav ml-auto">
                        <a href="contact" class="nav-item nav-link">Contact Me</a>
                    </div>
                </div>
            </nav>
            <div id='t'>
                <p class='fade-in fp-t'>Moez Bajwa</p>
                <p id='fp-d' class='fade-in'>
                    Self-taught software developer + first year 
                    computer science student.
                </p>
            </div>
        </div>
        <div class='portion' id='fp-footer'></div>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>

</html>