<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/styles.css') }}">
        <title>Projects</title>

        <style>
            body {
                background: url(../static/images/fp-back.JPG) no-repeat center center fixed;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                background-size: cover;
                -o-background-size: cover;
            }
            .card-deck {
                padding-left: 2.2%;
                padding-right: 2.2%;
            }
            .card-text {
                color: black;
            }
        </style>
    </head>

    <body>
        <nav class="navbar navbar-expand-md navbar-light bg-light">
            <a href="/" class="navbar-brand">Moez Bajwa</a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav">
                    <a href="about" class="nav-item nav-link">About Me</a>
                    <a href="projects" class="nav-item nav-link active">Projects</a>
                </div>
                <div class="navbar-nav ml-auto">
                    <a href="contact" class="nav-item nav-link">Contact Me</a>
                </div>
            </div>
        </nav>

        
        <div id="proj-header">
            <p class="fp-t">Projects</p>
            <p class="fp-d">Some personal projects I've done.</p>
        </div>

        <div class="card-deck mt-4">
          <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="../static/images/ab_example.png" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Anagrams Bot</h5>
                <p class="card-text">A bot which completely automates the iMessage game, Anagrams, by taking a screenshot of the phone 
                  screen, parsing the text from the screenshot, generating all possible english words from the 
                  letter set, and sending coordinates to an arduino which taps the letter on the iPhone.
                </p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Python (OpenCV, Numpy, Tesseract, Serial)</li>
                <li class="list-group-item">C (Arduino)</li>
              </ul>
              <div class="card-body">
                <a href="https://github.com/treephones/anagrams" class="card-link">GitHub Repo</a>
              </div>
            </div>

            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="../static/images/cp-bot-img.png" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">CroPixelBot</h5>
                <p class="card-text">
                  A versatile discord bot with multiple functions, including a friends list tracker, which tracks the friends list
                   and other stats of specified users on the Hypixel minecraft server via periodic requests to the Mojang + Hypixel 
                   REST API's, text to speech voice channel output for people without mics, and image editing.
                </p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Java</li>
                <li class="list-group-item">Java Discord API (JDA)</li>
              </ul>
              <div class="card-body">
                <a href="https://github.com/treephones/cropixel-bot" class="card-link">GitHub Repo</a>
              </div>
            </div>

            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="../static/images/personal_site_hp.png" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Personal Site</h5>
                <p class="card-text">
                  My personal website which I made as an introduction to web development. Features Bootstrap
                  and a Flask backend.
                </p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">HTML/CSS</li>
                <li class="list-group-item">Bootstrap</li>
                <li class="list-group-item">Flask</li>
              </ul>
              <div class="card-body">
                <a href="https://github.com/treephones/personal-site" class="card-link">GitHub Repo</a>
                <a href="moezb.com" class="card-link">Homepage</a>
              </div>
            </div>
      </div>
      
        <div class="card-deck mt-4">

          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../static/images/maze_example.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Minecraft Maze Pathfinder</h5>
              <p class="card-text">
                A minecraft server plugin using a recursive DFS pathfinding algorithm which finds the solution to any built maze, marks 
                the solution, and moves the player through the found path.
              </p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Java (Bukkit)</li>
            </ul>
            <div class="card-body">
              <a href="https://github.com/treephones/maze-pathfinder-plugin" class="card-link">GitHub Repo</a>
            </div>
          </div>

            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="../static/images/ppp_examplee.png" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Picture Painter Plugin</h5>
                <p class="card-text">A minecraft server plugin which takes any JPEG or PNG image and scales it before converting all pixels to minecraft 
                  blocks and creating it in the minecraft server.
                </p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Java (Bukkit, IO)</li>
              </ul>
              <div class="card-body">
                <a href="https://github.com/treephones/picture-painter-plugin" class="card-link">GitHub Repo</a>
              </div>
            </div>
            
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../static/images/ttt_example.png" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Unbeatable Tic-Tac-Toe iOS App</h5>
                  <p class="card-text">
                    An iOS app I made in high school for fun of the popular game Tic-Tac-Toe which, when in hard mode, the CPU 
                    player makes use of the minimax algorithm to be unbeatable.
                  </p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Swift</li>
                  <li class="list-group-item">UIKit</li>
                </ul>
                <div class="card-body">
                  <a href="https://github.com/treephones/TicTacToe" class="card-link">GitHub Repo</a>
                </div>
              </div>

        </div>

        <div id="proj-footer">
            <p class="fp-t"> </p>
        </div>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>

</html>